<div class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true" id="album-modal" selected-album="">

  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
  
      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div class="absolute top-0 right-0 hidden pt-4 pr-4 sm:block">
          <button type="button" id="close-album-modal" class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            <span class="sr-only">Close</span>
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="sm:flex sm:items-center flex justify-center">
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
             <div class="flex items-center justify-center">
          <div class="relative w-36 h-36 mr-3 rounded-full felx jus">
            <img class="object-cover w-full h-full rounded-full" src="" alt="Album Image" id="modal-image" loading="lazy" />
            <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
          </div>
        </div>
            <h3 class="text-lg font-medium leading-6 text-gray-900 mt-4" id="modal-title"></h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500" id="modal-description"></p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
