<!-- app/views/shared/_footer.html.erb -->
<footer class="bg-blue-800 text-white">
  <div class="max-w-7xl mx-auto px-4 py-6 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center">
      <div class="text-sm">
        &copy; <%= Date.today.year %> IWalletCase. All rights reserved.
      </div>
      <div class="space-x-4">
       
      </div>
    </div>
  </div>
</footer>
