<!-- app/views/shared/_navbar.html.erb -->
<nav class="bg-blue-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0">
          <%= link_to 'IWalletCase', root_path, class: 'text-white text-xl font-bold' %>
        </div>
      </div>
    </div>
  </div>
</nav>
